<!DOCTYPE html>
<html>
    <?php require PATH.'/view/admin/top.html'; ?>
    
    <body>
        <div class="x-body">
            <form class="layui-form" action="./admin_singer_add.php" method="POST" enctype=multipart/form-data >
                <div class="layui-form-item">
                    <label for="stage_name" class="layui-form-label">
                        <span class="x-red">*</span>艺名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" name="stage_name" class="layui-input" autocomplete="off">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label for="sex" class="layui-form-label">
                        <span class="x-red">*</span>性别
                    </label>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="radio" name="sex" value="男" checked title="男">
                            <input type="radio" name="sex" value="女" title="女">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>地区
                        </label>
                        <div class="layui-input-block">
                            <select name="area">
                                <option>
                                </option>
                                    <option value="内地">内地</option>
                                    <option value="港台">港台</option>
                                    <option value="欧美">欧美</option>
                                    <option value="日本">日本</option>
                                    <option value="韩国">韩国</option>
                                    <option value="其他">其他</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>流派
                        </label>
                        <div class="layui-input-block">
                            <select name="style">
                                <option>
                                </option>
                                    <option value="流行">流行</option>
                                    <option value="嘻哈">嘻哈</option>
                                    <option value="摇滚">摇滚</option>
                                    <option value="电子">电子</option>
                                    <option value="民谣">民谣</option>
                                    <option value="R&B">R&B</option>
                                    <option value="民歌">民歌</option>
                                    <option value="轻音乐">轻音乐</option>
                                    <option value="爵士">爵士</option>
                                    <option value="古典">古典</option>
                                    <option value="乡村">乡村</option>
                                    <option value="蓝调">蓝调</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">
                            <span class="x-red">*</span>热度
                        </label>
                        <div class="layui-input-block">
                            <select name="z_index">
                                <option>
                                </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 上传头像 -->
                <div class="layui-form-item layui-form-text">
                    <label for="avatar" class="layui-form-label">
                        <span class="x-red">*</span>上传头像
                    </label>
                    <div class="layui-input-block">
                        <p><input type="file" name="avatar" /></p> 
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="intro" class="layui-form-label">
                        <span class="x-red">*</span>介绍
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="随便写些什么刷下存在感" id="intro" name="intro" autocomplete="off"
                        class="layui-textarea" style="height: 130px;"></textarea>
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit >
                        增加
                    </button>
                </div>
            </form>
        </div>
        <script src="../../lib/layui/layui.js" charset="utf-8"></script>
        <script src="../../js/x-layui.js" charset="utf-8"></script>
        <script>
            layui.use(['form','layer'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
            
              //监听提交
              // form.on('submit(save)', function(data){
              //   console.log(data);
              //   //发异步，把数据提交给php
              //   layer.alert("增加成功", {icon: 6},function () {
              //       // 获得frame索引
              //       var index = parent.layer.getFrameIndex(window.name);
              //       //关闭当前frame
              //       parent.layer.close(index);
              //   });
              //   return false;
              // });
            });
        </script>
        
    </body>

</html>